<!-- components/footer.html -->
<footer class="bg-light px-14 pt-16 text-[14px]">


  <div class="flex">
    <div class="w-[30%] mr-[10%]">
      <img src="./public/logo/logo.png" height="58" class="object-contain h-[58px] mb-7"/>
      <p class="text-[14px] mb-7">Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy. Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry.</p>
    <div class="flex items-center">
      <span class="font-semibold ">Follow Us On :</span>
      <ul class="flex ">
        <li class="tilt h-[44px] w-[59px] bg-primary text-white flex justify-center items-center"><img src="../../public/icons/fb.svg" /></li>
        <li class="tilt h-[44px] w-[59px] bg-primary text-white flex justify-center items-center"><img src="../../public/icons/youtube.svg" /></li>
        <li class="tilt h-[44px] w-[59px] bg-primary text-white flex justify-center items-center"><img src="../../public/icons/insta.svg" /></li>
        <li class="tilt h-[44px] w-[59px] bg-primary text-white flex justify-center items-center"><img src="../../public/icons/linkedin.svg" /></li>

      </ul>
    </div>
    </div>
  <div class="grid grid-cols-3 gap-20">

    
    <div>
      <h5 class="text-primary text-[24px] font-semibold mb-5">Quick Links <div class="w-[65px] border border-primary my-1"></div></h5>

      <nav class="flex flex-col text-[#484848]">
        <span class="flex items-center mb-1">
          <img src="../../public/icons/Icon ion-ios-arrow-forward.svg" class="mr-2"/>
          Home
        </span>
        <span class="flex items-center mb-1">
          <img src="../../public/icons/Icon ion-ios-arrow-forward.svg" class="mr-2"/>
          Company
        </span>
        <span class="flex items-center mb-1" >
          <img src="../../public/icons/Icon ion-ios-arrow-forward.svg" class="mr-2"/>
          Projects
        </span>
        <span class="flex items-center mb-1">
          <img src="../../public/icons/Icon ion-ios-arrow-forward.svg" class="mr-2"/>
          Investors Relation
        </span>
        <span class="flex items-center mb-1">
          <img src="../../public/icons/Icon ion-ios-arrow-forward.svg" class="mr-2"/>
          Media Center
        </span>
        <span class="flex items-center mb-1">  
          <img src="../../public/icons/Icon ion-ios-arrow-forward.svg" class="mr-2"/>
          Career
        </span>
      </nav>
    </div>

    <!-- Corporate Office -->
    <div>
      <h5 class="text-primary text-[24px] font-semibold mb-5">Corporate Office <div class="w-[65px] border border-primary my-1"></div></h5>

      <div>
        <div class="flex items-start gap-3 mb-4">
          <img src="../../public/icons/location.svg" class="mt-1.5"/>
          <div>
            <h6 style="line-height: 10px;" class="text-[#484848] text-[10px] m-0 font-bold">Address</h6>
            <address>lorem ipsum address</address>
          </div>
        </div>
        <div class="flex items-start gap-3 mb-4">
          <img src="../../public/icons/call.svg" class="mt-1.5"/>
          <div>
            <h6 class="text-[#484848] text-[10px] font-bold">Phone</h6>
            <div>+91 0000 0000 00</div>
            <div>+91 0000 0000 00</div>
          </div>
        </div>
        <div class="flex items-start gap-3 mb-4">
          <img src="../../public/icons/email.svg" class="mt-1.5"/>
          <div class="flex flex-col">
            <h6 class="text-[#484848] text-[10px] font-bold">Email</h6>
            <a href="mailto:info@youdomain.com" target="_blank">info@youdomain.com</a>
          </div>
        </div>

      </div>
    </div>

    <!-- Regional Office -->
    <div>
      <h5 class="text-primary text-[24px] font-semibold mb-5">Regional Office <div class="w-[65px] border border-primary my-1"></div></h5>


      <div>
        <div class="flex items-start gap-3 mb-4">
          <img src="../../public/icons/location.svg" class="mt-1.5"/>
          <div>
            <h6 style="line-height: 10px;" class="text-[#484848] text-[10px] m-0 font-bold">Address</h6>
            <address>lorem ipsum address</address>
          </div>
        </div>
        <div class="flex items-start gap-3 mb-4">
          <img src="../../public/icons/call.svg" class="mt-1.5"/>
          <div>
            <h6 class="text-[#484848] text-[10px] font-bold">Phone</h6>
            <div>+91 0000 0000 00</div>
            <div>+91 0000 0000 00</div>
          </div>
        </div>
        <div class="flex items-start gap-3 mb-4">
          <img src="../../public/icons/email.svg" class="mt-1.5"/>
          <div class="flex flex-col">
            <h6 class="text-[#484848] text-[10px] font-bold">Email</h6>
            <a href="mailto:info@youdomain.com" target="_blank">info@youdomain.com</a>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>


  <p class=" py-4 mt-10 border border-t-2 flex justify-center items-center">© 2024. <span class="text-primary font-semibold">Shivalaya Construction Co. PVT. LTD </span> | All Rights Reserved.</p>

</footer>
