<!-- components/header.html -->
<header class="h-[140px] flex">
  <div class="bg-light w-[25%] h-full tilt-right flex justify-center items-center pr-12">
    <img
      src="../../public/logo/logo.png"
      height="58"
      width="225"
      class="h-[58px] w-[225px] object-contain"
    />
  </div>

  <div class="w-[82%] -ml-[7%]">
    <div class=" flex items-center justify-between px-6 md:pr-14 text-black ">
      <div class="pl-16 flex items-center justify-between h-[90px]">
        <a
          href="tel:0000000000"
          class="flex items-center mr-5 font-bold text-[14px] hover:text-primary"
          ><span
            class="bg-light h-[44px] w-[59px] flex justify-center items-center mr-2 tilt"
          >
            <img src="../../public/icons/call.svg" />
          </span>
          +91 00000 00000</a
        >
        <a
          href="mailto:shivalayaconstruction@gmail.com"
          class="flex items-center mr-5 font-bold text-[14px] hover:text-primary"
          ><span
            class="bg-light h-[44px] w-[59px] flex justify-center items-center mr-2 tilt"
            ><img src="../../public/icons/mail.svg" />
          </span>
          shivalayaconstruction@gmail.com</a
        >
      </div>
      <a download class="font-medium flex">
        <img
          src="../../public/icons/Icon material-round-download.svg"
          class="mr-2"
        />
        DOWNLOAD BROUCHER</a
      >
    </div>
    <div class="flex justify-end items-center bg-primary text-white h-[50px] w-full md:pr-14 text-[14px] ">
      <nav class="flex justify-between items-center w-[75%]">
        <span class="hover:text-secondary cursor-pointer">Home</span>
        <span onclick="loadPage('about')" class="hover:text-secondary cursor-pointer">About</span>
        <span class="hover:text-secondary cursor-pointer">Company</span>
        <span class="hover:text-secondary cursor-pointer">Our Bussiness</span>
        <span class="hover:text-secondary cursor-pointer">Projects</span>
        <span class="hover:text-secondary cursor-pointer">Investor Relations</span>
        <span class="hover:text-secondary cursor-pointer">Media Center</span>
        <span class="hover:text-secondary cursor-pointer">Career</span>
        <span class="hover:text-secondary cursor-pointer">Contact Us</span>
      </nav>
    </div>
  </div>
</header>
